* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    width: 100%;
    height: 100%;
}

#game-screen {
    width: 854px;
    height: 480px;
}

.dining-btn {
    float: right;
    height: 100%;
    width: 45%;
}

.bedroom-btn {
    float: left;
    height: 100%;
    width: 45%;
}

.hallway-btn {
    width: 45%;
    height: 100%;
}

.play-again {
    width: 45%;
    height: 100%;
    margin: 0 auto;
    display: block;
}